@{
    ViewData["Title"] = "Job Übersicht";
}

<div class="jumbotron bg-primary">
    <div class="display-1 text-white text-center">
        Worktastic
    </div>
</div>

<h4>
    Finde einen Traumjob in deiner Nähe!
</h4>



<div class="row mt-4">
    <div class="col">
        <input class="form-control-lg form-control" type="text" placeholder="Wonach suchst du?" />
    </div>
</div>


<div class="text-center mt-2">
    <button class="btn btn-lg btn-primary">Suchen</button>
</div>
